<div class="workspace-container">
<div class="workspace">
  <div id="data" data-project-id="<%= params[:id] %>"></div>

  <%= render "editor", direction: "left", type: "html", options: ["html", "haml"], anim: 3 %>
  <%= render "editor", direction: "left", type: "css", options: ["css", "sass"], anim: 4 %>
  <%= render "editor", direction: "right", type: "js", options: ["javascript", "coffeescript"], anim: 5 %>

  <div class="divider">
    <div class="selections">
      <button type="button">Submit</button>
      <input type="checkbox" id="autorun" checked>Auto Submit?
    </div>
  </div>

  <iframe src="javascript:false;" name="code-render" scrolling="true">
  </iframe>
</div>
</div>
