<% first_row = true %>

<ul class="projects-list">
<% @projects.each_with_index do |project, index| %>
  <% if index % 3 == 0 %>
    <% unless first_row %>
      </ul>
    <% end %>
    
    <ul class="row">
    <% first_row = false %>
  <% end %>
  <li>
    <a class="project-link" href="<%= workspace_project_url(project.id) %>">
      <iframe src="javascript:false;" scrolling="no" class="project-show" allowtransparency="true" data-project-id="<%= project.id %>">
      </iframe>
      <span class="title">
        <%= project.title %>
      </span>
    </a>
  </li>
<% end %>
<% unless @projects.empty? %>
  </ul>
<% end %>
</ul>

<script type="text/javascript">CodePal.Index.start()</script>
