<div class="workspace">
  <div class="editor" id="html-box"></div>
  <div class="editor" id="css-box"></div>
  <br>

  <div class="divider">
    <div class="selections">
      <button type="button">Submit</button>
      <input type="checkbox" id="autorun">Auto Submit?
    </div>
  </div>

  <iframe src="javascript:false;" name="code-render" scrolling="true">
  </iframe>
</div>
