nav {
  height: 50px;
  width: 100%;
  background: #143069;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 5px solid black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul.left {
  float: left
}

nav ul.right {
  float: right;
}

nav ul li {
  display: inline-block;
  height: 100%;
  margin-top: 7px;
  margin-left: 1em;
  margin-right: 1em;
}

nav ul li input {
  background: #021014;
  color: white;
  padding: .2em 1em;
  font-size: 14pt;
  height: 35px;
}

nav ul li input:hover {
  background: #66B;
  color: white;
}
