div.workspace {
  position: relative;
  height: 100%;
  background-color: #2F3129;
}

div.editor-container {
  position: relative;
  width: 48%;
  height: 48%;
  font-size: 16px;
  margin-left: 1%;
  margin-right: 1%;
}

div.editor-options {
  display: none;
  position: absolute;
  top: 10%;
  z-index: 5;
  width: 150px;
  background-color: yellow;
}

div.editor-options button {
  width: 100%;
  z-index: 6;
  margin-left: auto;
  margin-right: auto;
}

div.editor-header {
  position: relative;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top left, #222, #444);
  border-top: 2px solid #B6C0D2;
  /*border-left: 2px solid #B6C0D2;
  border-right: 2px solid #B6C0D2;*/
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

div.editor-header button.gear-button {
  visibility: hidden;
  float: left;
  width: 40px;
  height: 30px;
  padding-top: 6px;
}

img.gear {
  visibility: visible;
  width: 25px;
  height: 25px;
}

div.editor-header span { 
  position: relative;
  color: white;
  font-size: 20pt;
  text-align: center;
  top: 6px;
}

div.editor-header input.editor-checkbox {
  float: right;
  margin: 5px;
}

div.editor {
  width: 100%;
  height: 90%;
  font-size: 16px;
  background-color: #455268;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

div.divider {
  background-color: #B6C0D2;
  height: 51%;
}

.selections {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 45%;
  background-color: white;
}
